table {
    margin: auto;
    width: 20% !important;
    background-color:beige;
    
}

.boldovan {
    margin: auto;
    width: 20% !important;
    background-color:beige;
}

.redvoznje{
    border-collapse: collapse;
}

button
{

    background-color:burlywood;
}
