

h2 {
    margin-bottom: 10px;
    color: #f4f4f4;
}

h3 {
    margin-bottom: 10px;
    color: #f4f4f4;
    text-align:center;
}

h4 {
    margin-top: 10px;
    color: #f4f4f4;
    text-align:center;
}

.main{
    width:100%;
}

.divp   {
    font-size: 25px; 
    text-align: center;
    color: #f4f4f4;
    font-weight: bold;

}


.divcontainer {

    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 70%;
    height: 800px;
    align-content: center;
    float:left;
    


}

.payPal{
    background-color:#1f4068;
    text-align:center;
    height:70px;
    width:500px;
    margin-left:150px;
    margin-top:25px;
}

.hour
{
    display:inline-block;
    width: 200px;
    height:250px;
    margin-right:20px;
    margin-left:0px;
    margin-top:20px;
    background-color:#204051;
}

.day
{
    display:inline-block;
    width: 200px;
    height:250px;
    margin-right:20px;
    margin-left:0px;
    background-color:#3b6978;
}

.month
{
    display:inline-block;
    width: 200px;
    height:250px;
    margin-right:20px;
    margin-left:0px;
    background-color:#84a9ac;
}

.year
{
    display:inline-block;
    width: 200px;
    height:250px;
    margin-right:50px;
    margin-left:0px;
    background-color:#77d8d8;
}


table{
    display:inline-block;
    margin-top:50px;
    

    width: auto;
    height:auto;
    color:#f4f4f4;
}






