.section {
	position: relative;
	height: 100vh;
}

h2,h3{
	color: #f4f4f4;

}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 35%;
	right: 35%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.section .section-left {
	position: absolute;
	top: 5%;
	left: 5%;
	right: 80%;
}

.register{
    text-align: center;
    padding-bottom:10px;
}

#booking {
	font-family: 'Montserrat', sans-serif;
	
	background-size: cover;
	
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}


.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}


.submitbutton{
    
    position: absolute;
    bottom:15px;
	color: #fff;
    background-color: #1e62d8;
    left:30%;
	font-weight: 700;
	padding: 14px 50px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.attent{
	color:red;
	font-size:15px;
}