<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" style="height: 50px">
   

  <div id="navb" class="navbar-collapse collapse hide">
      <ul class="navbar-nav" style="margin-left: 180px; font-size: 20px">
        <li class="nav-item">
          <a style="color: rgb(236, 238, 238)" routerLink="/timetable" class="nav-link" >Time Table</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/lines" style="margin-left: 40px;color: rgb(236, 238, 238) " class="nav-link">Lines</a>
        </li>
        <li class="nav-item">
          <a style="margin-left: 40px;color: rgb(236, 238, 238) " routerLink="/vehicles" class="nav-link" >Current vehicles</a>
        </li>
        <li class="nav-item">
          <a routerLink="/pricelist" style="margin-left: 40px;color: rgb(236, 238, 238)" class="nav-link">Pricelist</a>
        </li>

        <div *ngIf="Controler">
            <li class="nav-item">
                <a style="margin-left: 40px;color: rgb(236, 238, 238) " routerLink="/verify" class="nav-link" >Verify</a>
            </li>
        </div>
        <div *ngIf="Controler">
            <li class="nav-item">
                <a style="margin-left: 40px;color: rgb(236, 238, 238) " routerLink="/validate" class="nav-link" >Validate</a>
            </li>
          
        </div>
      </ul>

      <ul class="nav navbar-nav ml-auto" style="margin-right: 20px;">
        <li class="nav-item" style="margin-right: 30px" *ngIf="showLogIn()">
          <a class="nav-link" routerLink="/register"><span class="fas fa-user"></span> Register</a>
        </li>
        <li class="nav-item" style="margin-right: 30px" *ngIf="showLogOut()">
            <a class="nav-link" routerLink="/editprofile"><span class="fas fa-user"></span>Edit Profile</a>
        </li>

        <li class="nav-item" *ngIf="showLogIn()">
          <a class="nav-link" routerLink="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
        <li class="nav-item" *ngIf="showLogOut()">
          <a class="nav-link" (click)="callLogout()"><span class="fas fa-sign-in-alt"></span>Log out</a>
        </li>
      </ul>
    </div>
  </nav>
